
@font-face {
    font-family: 'alleritalic';
    src: url('../fonts/aller_it-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;

}
html {
	font-family: acuta, serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
	font-family: 'alleritalic', cursive;
	font-weight: 400;
	font-style: normal;
}